<%- include('partials/frontend/header') %> 


<div data-v-fa46a63c="" class="container">
	<div data-v-fa46a63c="" id="kt_subheader" class="subheader py-2 py-lg-4 subheader-transparent">
		<div data-v-fa46a63c="" class=" container d-flex align-items-center 
		justify-content-between 
		flex-wrap 
		flex-sm-nowrap">
			<div data-v-fa46a63c="" class="d-flex align-items-baseline flex-wrap mb-5" style="cursor: pointer;"><i data-v-fa46a63c="" class="fas fa-arrow-left mr-3"></i>
				<a href="/">Πίσω στους καταλόγους</a>
			</div>
		</div>
	</div>
	<!---->



<% for (subcategory of subcategories) {  %> 
	<% if (subcategory.category === category.name) {%> 
<!-- Αρχή Κατηγορίας -->
<div data-v-fa46a63c="" class="mb-10">
	<div data-v-fa46a63c="">
		<div class="card bg-transparent">
			<!--Αρχή Ονομασίας Κατηγορίας-->
			<div class="card-body bg-gray-400 p-0">
				<div class="d-flex flex-row align-items-center p-3">
					<div class="flex-grow-1 flex-shrink-1">
						<div class="text-dark font-weight-bolder font-size-h3 mb-1"><%= subcategory.name %> </div>
						<div class="text-dark-75"><%= subcategory.description %></div>
					</div>
					<div class="flex-grow-3 flex-shrink-0">
						<div class="symbol symbol-80">
							<div class="symbol symbol-100">
								<% if(subcategory.Image.length > 0) { %>
								<img style="max-height: 100px;" src="<%= subcategory.Image[0].url %> " class="v-lazy-image v-lazy-image-loaded">
								<% } %> 
								<!---->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Τέλος Ονομασίας Κατηγορίας-->
			<div data-v-9c6f6200="">
				<% for (product of products) { %>
					<% if(product.subcategory === subcategory.name) {%>
				<div class="card">
					<!---->
					<div class="card-body p-2">
						<div class="d-flex align-items-center justify-content-start singleitem flex-row">
							<div class="mr-2 flex-grow-1 flex-shrink-1">
								<div class="text-dark font-weight-bold font-size-h5 mb-1"><%=product.name%></div>
								<!---->
				 				<% if (product.description) {%> 
								<div class="text-dark-75 mb-1"><%=product.description%></div>
								<% } %> 
								<!---->
								<% if (product.price) {%> 
								<div class="text-dark-75 label label-inline label-rounded label-xl"><%=product.price%> €</div>
								<% } %> 
							</div>
							<div class="flex-grow-3 flex-shrink-0 image">
								<div class="symbol symbol-100">
									<% if(product.Image.length > 0) { %> 
										<img style="max-height: 75px;" src="<%=product.Image[0].url%>" class="v-lazy-image v-lazy-image-loaded">
									<% } %> 
									<!---->
								</div>
							</div>
						</div>
					</div>
				</div>
				<%}}%>
				<!---->
			</div>
			<!-- Τέλος Κατηγορίας -->
<% }} %> 


	<%- include('partials/frontend/footer') %> 