<%- include('../partials/dashboard/header') %> 
<%- include('../partials/flash') %>
<p class="h3">Ανακοινώσεις</p>

<!-- card new -->
<div class="card">
    <div class="todo-widget scrollable" style="height:450px;">
        <ul class="list-style-none">
            <% for (announcement of announcements) { %> 
            <li class="d-flex no-block card-body list-group-item">
                <i class="fad fa-rss w-30px m-t-5"></i>
                <div class="col-11 ">
                    <a class="m-b-0 font-medium p-0"><%= announcement.title %></a>
                    <span class="text" style="white-space: pre-wrap"><%= announcement.content %></span>
                </div>
                <% if (currentUser.role === "Admin") {%> 
                <div class="col-1" style="font-size: 1.3rem;">
                    <a style="cursor: pointer;" class="fad fa-trash-alt float-right a-hover" data-toggle="modal" data-target="#Modal<%=announcement._id%>"></a>
                </div>
                <% } %> 
            </li>
            <!-- Modal Start -->
            <div class="modal fade" id="Modal<%=announcement._id%>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Επιβεβαίωση διαγραφής ανακοίνωσης</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Άκυρο</button>
                        <form  action="/announcements/delete/<%=announcement._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Διαγραφή</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Modal End -->
            <% } %> 
        </ul>
    </div>
    <% if (currentUser.role === "Admin") {%> 
    <form action="/announcements" method="POST" novalidate class="validated-form needs-validation">
        <div class="card-body border-top">
            <div class="row">
                <div class="col-9">
                    <div class="input-field m-t-0 m-b-0">
                        <input type="text" id="announcement" name="announcement[title]" placeholder="Γράψτε ένα τίτλο ανακοίνωσης" class="form-control" required/>
                        <div class="invalid-feedback">
                            Πρέπει να εισάγετε ένα τίτλο.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="input-field m-t-0 m-b-0">
                        <textarea type="text" id="announcement" name="announcement[content]" placeholder="Γράψτε το περιεχόμενο της ανακοίνωσης" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Πρέπει να εισάγετε ένα μήνυμα πρώτα.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <button class="btn-circle btn-lg btn-cyan float-right text-white" href="javascript:void(0)"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </form>
    <% } %> 
</div>
    
<%- include('../partials/dashboard/footer') %> 
