<%- include('../partials/dashboard/header') %>
<p class="h3">
    <%= category.name %>
</p>
<div class="tabs">

    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">
    <ul class="nav nav-pills">
        <li title="Στοιχεία"><label for="tab1" role="button"><i class="far fa-info"></i>
        <br><span>Στοιχεία</span></label></li>
        <li title="Επεξεργασία"><label for="tab2" role="button"><i class="far fa-edit"></i>
        <br><span>Επεξεργασία</span></label></li>
        <li title="Φωτογραφίες"><label for="tab3" role="button"><i class="far fa-images"></i>
        <br><span>Φωτογραφίες</span></label></li>
    </ul>

    <div class="slider">
        <div class="indicator"></div>
    </div>
    <div class="content">
        <section>
            <h2>Στοιχεία</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <div class="mb-3">
                        <label class="form-label" for="title">Ονομασία</label>
                        <input readonly class="form-control" type="text" value=" <%= category.name %> ">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="title">Περιγραφή</label>
                        <textarea readonly class="form-control" type="text"><%= category.description %></textarea>
                    </div>
                    <form action="<%=category._id%>?_method=DELETE" method="POST">
                        <div class="row float-right">
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#Modal">Διαγραφή</button>
                        </div>
                    </form>

                    <a href="/categories">Επιστροφή</a>


                </div>
            </div>



        </section>
        <!--  -->
        <section>
            <h2>Επεξεργασία</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="<%=category._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="title">Ονομασία</label>
                            <input class="form-control" type="text" id="name" name="category[name]" value="<%=category.name%>">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="description">Περιγραφή</label>
                            <textarea class="form-control" type="text" id="description" name="category[description]"><%=category.description%></textarea>
                        </div>
                        <div class="mb-3">
                            <div class="form-file custom-file">
                                <input type="file" class="form-file-input" id="Image" name="Image">
                            </div>
                        </div>
                        <div class="row float-right">
                            <button class="btn btn-success">Ενημέρωση</button>
                        </div>
                    </form>
                    <a href="/categories">Επιστροφή</a>
                </div>
            </div>
        </section>
        <!--  -->
        <section>
            <h2>Φωτογραφίες</h2>
            <div class="alert alert-warning" role="alert">

                Επιλέξτε τις φωτογραφίες που θέλετε να διαγραφούν. Μόνο η πρώτη φωτογραφία εμφανίζεται στους καταλόγους!
            </div>
            <form action="<%=category._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="row el-element-overlay">
                    <% if(category.Image.length > 0) { %>
                        <% for(let i=0; i<category.Image.length; i++){ %>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="el-card-category">
                                        <div class="el-card-avatar el-overlay-1"> <img style="max-height: 250px;" src="<%=category.Image[i].url%>">
                                            <div class="el-overlay">
                                                <ul class="list-style-none el-info">
                                                    <li class="el-category"><a class="btn default btn-outline image-popup-vertical-fit el-link" href="<%= category.Image[i].url %> "><i class="mdi mdi-magnify-plus"></i></a></li>
                                                    <% if(category.Image.length > 0) { %>
                                                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= category.Image[i].filename %>">
                                                        <% } %>
                                                            <a class="btn default btn-outline el-link" href="javascript:void(0);"></a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }} %>
                    <div class="mb-3">
                        <button class="btn btn-success">Ενημέρωση</button>
                    </div>
            </form>
        </section>
        <!--  -->
    </div>
</div>

<!-- Modal Start -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Επιβεβαίωση διαγραφής</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Άκυρο</button>
                <form action="<%=category._id%>?_method=DELETE" id="<%=category._id%>" method="POST">
                    <button class="btn btn-danger">Διαγραφή</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<%- include('../partials/dashboard/footer') %>