<%- include('../partials/dashboard/header') %> 
<%- include('../partials/flash') %>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Συγκεντρωτικός Πίνακας Προϊόντων </h5>
        
<input type="button" onclick="PrintTable();" value="Print"/>
        <div id="printTable" class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Κατηγορία</th>
                        <th>Ονομασία</th>
                        <th>Υποκατηγορία</th>
                        <th>Τιμή</th>
                        <th>Περιγραφή</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (product of products) { %>
                    <tr class="trow" onclick="location.href='/dash/products/<%=product._id%>'" style="cursor:pointer">
                        <div>
                            <td style="width: 15%;"><%=product.category%></a></td>
                            <td style="width: 20%;"><%=product.name%></a></td>
                            <td style="width: 15%;"><%=product.subcategory%></td>
                            <td style="width: 15%;"><%=product.price%>€</td>
                            <td style="width: 35%;"><%=product.description%></td>
                        </div>
                    </tr>
                    <%}%>
                </tfoot>
            </table>
        </div>

    </div>
</div>

<tr >


<script type="text/javascript">
    function PrintTable() {
        var printWindow = window.open('', '', 'height=600,width=800');
        printWindow.document.write('<html><head><title>Συγκεντρωτικός Πίνακας Προϊόντων</title>');
    
        //Print the Table CSS.
        var table_style = document.getElementById("tableStyle").innerHTML;
        printWindow.document.write('<style type = "text/css">');
        printWindow.document.write(table_style);
        printWindow.document.write('</style>');
        printWindow.document.write('</head>');
    
        //Print the table contents.
        printWindow.document.write('<body>');
        var printTable = document.getElementById("printTable").innerHTML;
        printWindow.document.write(printTable);
        printWindow.document.write('</body>');
    
        printWindow.document.write('</html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>
    
    

<%- include('../partials/dashboard/footer') %> 
