<%- include('../partials/dashboard/header') %> 


<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Facilities Cards  -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white"><i class="fad fa-utensils-alt" style="font-size: 30px;"></i></h1>
                <h6 class="text-white">Εστιατόριο</h6>
            </div>
            <div class="bg-dark p-8 text-white text-center align-center" style="padding: 15px;">
                <p class="h6">Κατηγορίες : - </p>
                <p class="h6">Προϊόντα : - </p>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white"><i class="fad fa-mug-hot" style="font-size: 30px;"></i></h1>
                <h6 class="text-white">Κυλικείο</h6>
            </div>
            <div class="bg-dark p-8 text-white text-center align-center" style="padding: 15px;">
                <p class="h6">Κατηγορίες : - </p>
                <p class="h6">Προϊόντα : - </p>
            </div>
        </div>
    </div>
        <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white"><i class="fad fa-shopping-cart" style="font-size: 30px;"></i></h1>
                <h6 class="text-white">Πρατήριο</h6>
            </div>
            <div class="bg-dark p-8 text-white text-center align-center" style="padding: 15px;">
                <p class="h6">Κατηγορίες : - </p>
                <p class="h6">Προϊόντα : - </p>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white"><i class="fad fa-umbrella-beach" style="font-size: 30px;"></i></h1>
                <h6 class="text-white">Beach Bar</h6>
            </div>
            <div class="bg-dark p-8 text-white text-center align-center" style="padding: 15px;">
                <p class="h6">Κατηγορίες : - </p>
                <p class="h6">Προϊόντα : - </p>
            </div>
        </div>
    </div>
</div>
    
<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <!-- card new -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title m-b-0">Μηνύματα Διοικητή</h4>
            </div>
            <div class="todo-widget scrollable" style="height:450px;">
                <ul class="list-style-none">
                    <% comments.reverse().forEach(function(comment) { %> 
                    <li class="d-flex no-block card-body">
                        <i class="fad fa-check w-30px m-t-5"></i>
                        <div class="col-11">
                            <a class="m-b-0 font-medium p-0"><%= comment.title %></a>
                            <span class="text"><%= comment.content %></span>
                        </div>
                        <div class="col-1" style="font-size: 1.3rem;">
                            <a style="cursor: pointer;" class="fad fa-trash-alt float-right a-hover" data-toggle="modal" data-target="#Modal<%=comment._id%>"></a>
                        </div>
                    </li>
                    <!-- Modal Start -->
                    <div class="modal fade" id="Modal<%=comment._id%>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Επιβεβαίωση διαγραφής μηνύματος</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Άκυρο</button>
                                <form  action="dash/delete/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Διαγραφή</button>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->
                    <% }) %> 
                </ul>
            </div>
            <% if (currentUser.role === "Admin") {%> 
            <form action="dash/comments" method="POST" novalidate class="validated-form needs-validation">
                <div class="card-body border-top">
                    <div class="row">
                        <div class="col-9">
                            <div class="input-field m-t-0 m-b-0">
                                <input type="text" id="comment" name="comment[title]" placeholder="Γράψτε ένα τίτλο" class="form-control" required/>
                                <div class="invalid-feedback">
                                    Πρέπει να εισάγετε ένα τίτλο.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <div class="input-field m-t-0 m-b-0">
                                <textarea type="text" id="comment" name="comment[content]" placeholder="Γράψτε ένα μήνυμα" class="form-control" required></textarea>
                                <div class="invalid-feedback">
                                    Πρέπει να εισάγετε ένα μήνυμα πρώτα.
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <button class="btn-circle btn-lg btn-cyan float-right text-white" href="javascript:void(0)"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <% } %> 
        </div>
    </div>


    <!-- column -->

    <div class="col-lg-6">
        <!-- Card -->
        
        <!-- accoridan part -->
        <div class="accordion" id="accordion">
            <div class="card m-b-0">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <a data-toggle="collapse" href="" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                        <span>Γενικές Οδηγίες</span>
                    </a>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                    Η εφαρμογή αναπτύχθηκε για να καλύψει τις ανάγκες ενημέρωσης των επισκεπτών και παραθεριστών του ΚΑΑΥ. Σε αυτό το πλαίσιο και δεδομένης της μορφής που έχει η εφαρμογή, οι διαχειριστές και οι χρήστες του κέντρου διαχείρησης της εφαρμογής είναι υπεύθυνοι για την εύρυθμη λειτουργία αυτή καθώς και για την ασφάλεια από εξωτερικούς κινδύνους.
                    </div>
                </div>
            </div>
            <div class="card m-b-0 border-top">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                    <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                        <span>Προϊόντα και Κατηγορίες</span>
                    </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">

                    Πέραν του τυπικού έλεγχου συμπλήρωσης των απαραίτητων πληροφοριών όταν δημιουργείτε μία κατηγορία ή ένα νέο προϊόν, 
                    η εφαρμογή δεν ελέγχει ορθογραφία, τονισμό λέξεων ή περιεχόμενο φωτογραφιών. Γι'αυτό επιβεβαιώνουμε τα δηλωμένα στοιχεία 
                    πριν τη αποθήκευση και υπεύθυνα προνοούμε για το περιεχόμενο αυτών και αν η μορφή τους είναι σωστή στους καταλόγους.<br><br>

                    <i class="fad fa-info"></i> Υπάρχει δυνατότητα επεξεργασίας των προϊόντων και των κατηγοριών που δημιουργούμε.

                    <div class="dropdown-divider"></div>
                        <dl class="row">
                            <dt class="col-sm-10 footer"><h4>Σχήμα Προϊόντων</h4></dt>
                            <dd class="col-sm-2"> </dd>
                          
                            <dt class="col-sm-3"><em>Εγκατάσταση</em></dt>
                            <dd class="col-sm-9">Αυτόματα καταχωρείτε από το σύστημα βάση του ρόλου που έχει ο χρήστης.</dd>
                          
                            <dt class="col-sm-3 text-truncate"><em>Κατηγορία</em></dt>
                            <dd class="col-sm-9">Υποχρεωτικό</dd>

                            <dt class="col-sm-3 text-truncate"><em>Ονομασία</em></dt>
                            <dd class="col-sm-9">Υποχρεωτικό</dd>

                            <dt class="col-sm-3 text-truncate"><em>Τιμή</em></dt>
                            <dd class="col-sm-9">Προαιρετικό</dd>

                            <dt class="col-sm-3 text-truncate"><em>Περιγραφή</em></dt>
                            <dd class="col-sm-9">Προαιρετικό</dd>

                            <dt class="col-sm-3 text-truncate"><em>Φωτογραφία</em></dt>
                            <dd class="col-sm-9">Προαιρετικό</dd>
                          
                          </dl>

                          <dl class="row">
                            <dt class="col-sm-10 footer"><h4>Σχήμα Κατηγοριών</h4></dt>
                            <dd class="col-sm-2"> </dd>
                          
                            <dt class="col-sm-3"><em>Εγκατάσταση</em></dt>
                            <dd class="col-sm-9">Αυτόματα καταχωρείτε από το σύστημα βάση του ρόλου που έχει ο χρήστης.</dd>

                            <dt class="col-sm-3 text-truncate"><em>Ονομασία</em></dt>
                            <dd class="col-sm-9">Υποχρεωτικό</dd>

                            <dt class="col-sm-3 text-truncate"><em>Περιγραφή</em></dt>
                            <dd class="col-sm-9">Προαιρετικό</dd>

                            <dt class="col-sm-3 text-truncate"><em>Φωτογραφία</em></dt>
                            <dd class="col-sm-9">Προαιρετικό</dd>
                          
                          </dl>


                    <div>
                        <p>Παράδειγμα Εικόνας</p>
                        

                        <img src="..." class="rounded float-left" alt="...">
                        <img src="..." class="rounded float-right" alt="...">
                    </div>
                    </div>
                </div>
            </div>
            <div class="card m-b-0 border-top">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                    <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                        <span>Accordion Example 3</span>
                    </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        <!-- toggle part -->
        <div id="accordian-4">
            <div class="card m-t-30">
                <a class="card-header link" data-toggle="collapse" data-parent="#accordian-4" href="#Toggle-1" aria-expanded="true" aria-controls="Toggle-1">
                    <i class="seticon fa fa-arrow-right" aria-hidden="true"></i>
                    <span>Toggle, Open by default</span>
                </a>
                <div id="Toggle-1" class="collapse show multi-collapse">
                    <div class="card-body widget-content">
                        This box is opened by default, paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.
                    </div>
                </div>
                <a class="card-header link border-top" data-toggle="collapse" data-parent="#accordian-4" href="#Toggle-2" aria-expanded="false" aria-controls="Toggle-2">
                    <i class="seticon fa fa-times" aria-hidden="true"></i>
                    <span>Toggle, Closed by default</span>
                </a>
                <div id="Toggle-2" class="multi-collapse collapse">
                    <div class="card-body widget-content">
                        This box is now open
                    </div>
                </div>
                <a class="card-header collapsed link border-top" data-toggle="collapse" data-parent="#accordian-4" href="#Toggle-3" aria-expanded="false" aria-controls="Toggle-3">
                    <i class="seticon fa fa-times" aria-hidden="true"></i>
                    <span>Toggle, Closed by default</span>
                </a>
                <div id="Toggle-3" class="collapse multi-collapse">
                    <div class="card-body widget-content">
                        This box is now open 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/dashboard/footer') %> 
