<%- include('../partials/dashboard/header') %> 
<p class="h3">Δημιουργία νέου προϊόντος</p>
<div class="tabs">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/products" method="POST" novalidate class="validated-form needs-validation" enctype="multipart/form-data" validate>
                    <div class="form-group row">
                        <div class="col-md-12">
                        <label class="form-label">Κατηγορία</label>
                            <select class="select2 form-control custom-select" id="category" name="product[category]" required>
                                <% for (category of categories) {%>
                                    <option value="<%=category.name%>"><%= category.name %></option>
                                <% } %> 
                            </select>
                            <div class="invalid-feedback">
                                Η κατηγορία δεν μπορεί να μείνει κενή, κάνε click <a href="/categories/new">εδώ</a> για να δημιουργήσεις μία κατηγορία.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                        <label class="form-label">Υποκατηγορία</label>
    
                            <select class="select2 form-control custom-select" id="subcategory" name="product[subcategory]" required>
                                <% for (subcategory of subcategories) {%>
                                    <option value="<%=subcategory.name%>"><%= subcategory.name %></option>
                                <% } %> 
                            </select>
                            <div class="invalid-feedback">
                                Η υποκατηγορία δεν μπορεί να μείνει κενή, κάνε click <a href="/subcategories/new">εδώ</a> για να δημιουργήσεις μία κατηγορία.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="title">Ονομασία</label>
                        <input required class="form-control" type="text" id="name" name="product[name]" required />
                        <div class="invalid-feedback">
                            Πρέπει να εισάγετε όνομα προϊόντος.
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="price">Τιμή</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">€</span>
                            <input type="number" step="0.01" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                aria-describedby="product-label" name="product[price]"></div>
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="description">Περιγραφή</label>
                        <textarea class="form-control" type="text" id="description" name="product[description]"></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-file custom-file">
                            <input type="file" class="form-file-input" id="Image" name="Image">
                        </div>
                    </div>
                    <div class="row float-right">
                        <button validate type="submit" class="btn btn-success">Αποθήκευση</button>
                    </div>
                </form>
                <a href="/dash/products">Επιστροφή</a>
            </div>
        </div>
</div>

<%- include('../partials/dashboard/footer') %> 
