<%- include('../partials/dashboard/header') %>
<p class="h3">
    <%= product.name %>
</p>
<div class="tabs">
    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">
    <ul class="nav nav-pills">
        <li title="Στοιχεία"><label for="tab1" role="button"><i class="far fa-info"></i>
        <br><span>Στοιχεία</span></label></li>
        <li title="Επεξεργασία"><label for="tab2" role="button"><i class="far fa-edit"></i>
        <br><span>Επεξεργασία</span></label></li>
        <li title="Φωτογραφίες"><label for="tab3" role="button"><i class="far fa-images"></i>
        <br><span>Φωτογραφίες</span></label></li>
    </ul>

    <div class="slider">
        <div class="indicator"></div>
    </div>
    <div class="content">

        <section>
            <h2>Στοιχεία</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="mb-3">
                        <label class="form-label" for="title">Κατηγορία</label>
                        <input disabled class="form-control" type="text" value=" <%= product.category %> ">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="title">Υποκατηγορία</label>
                        <input disabled class="form-control" type="text" value=" <%= product.subcategory %> ">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="title">Ονομασία</label>
                        <input disabled class="form-control" type="text" value=" <%= product.name %>">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="title">Τιμή</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">€</span>
                            <input disabled type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="product-label" name="product[price]" value=" <%= product.price %> "></div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="title">Περιγραφή</label>
                        <input disabled class="form-control" type="text" value=" <%= product.description %> ">
                    </div>
                    <form action="<%=product._id%>?_method=DELETE" method="POST">
                        <div class="row float-right">
                            <button value="" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#Modal">Διαγραφή</button>
                        </div>
                    </form>
                    <a href="dash/products">Επιστροφή</a>
                </div>
            </div>
        </section>
        <!--  -->
        <section>
            <h2>Επεξεργασία</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="<%=product._id%>?_method=PUT" method="POST" novalidate class="needs-validation validated-form" enctype="multipart/form-data">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-label">Kατηγορία</label>

                                <select class="select2 form-control custom-select" id="subcategory" name="product[category]" required>
                        <% for (category of categories) {%>
                            <option <%if(product.category === category.name){%>selected<%}%> value="<%=category.name%>"><%= category.name %></option>
                        <% } %> 
                    </select>
                                <div class="invalid-feedback">
                                    Η κατηγορία δεν μπορεί να μείνει κενή, κάνε click <a href="/categories/new">εδώ</a> για να δημιουργήσεις μία κατηγορία.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-label">Υποκατηγορία</label>

                                <select class="select2 form-control custom-select" id="subcategory" name="product[subcategory]" required>
                        <% for (subcategory of subcategories) {%>
                            <option <%if(product.subcategory === subcategory.name){%>selected<%}%> value="<%=subcategory.name%>"><%= subcategory.name %></option>
                        <% } %> 
                    </select>
                                <div class="invalid-feedback">
                                    Η κατηγορία δεν μπορεί να μείνει κενή, κάνε click <a href="/categories/new">εδώ</a> για να δημιουργήσεις μία κατηγορία.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="title">Ονομασία</label>
                            <input class="form-control" type="text" id="name" name="product[name]" value="<%=product.name%>" required>
                            <div class="invalid-feedback">
                                Πρέπει να εισάγετε όνομα προϊόντος.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="price">Τιμή</label>
                            <div class="input-group">
                                <span class="input-group-text" id="price-label">€</span>
                                <input type="number" step="0.01" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="product-label" name="product[price]" value="<%=product.price%>"></div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="description">Περιγραφή</label>
                            <textarea class="form-control" type="text" id="description" name="product[description]"><%=product.description%></textarea>
                        </div>
                        <div class="mb-3">
                            <div class="form-file custom-file">
                                <input type="file" class="form-file-input" id="Image" name="Image">
                            </div>
                        </div>
                        <div class="row float-right">
                            <button class="btn btn-success">Ενημέρωση</button>
                        </div>
                    </form>
                    <a href="/dash/products">Επιστροφή</a>
                </div>
            </div>
        </section>
        <!--  -->
        <section>
            <h2>Φωτογραφίες</h2>
            <div class="alert alert-warning" role="alert">
                Επιλέξτε τις φωτογραφίες που θέλετε να διαγραφούν. Μόνο η πρώτη φωτογραφία εμφανίζεται στους καταλόγους!
            </div>
            <form action="<%=product._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="row el-element-overlay">
                    <% if(product.Image.length > 0) { %>
                        <% for(let i=0; i<product.Image.length; i++){ %>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="el-card-item">
                                        <div class="el-card-avatar el-overlay-1"> <img style="max-height: 250px;" src="<%=product.Image[i].url%>">
                                            <div class="el-overlay">
                                                <ul class="list-style-none el-info">
                                                    <li class="el-item"><a class="btn default btn-outline image-popup-vertical-fit el-link" href="<%= product.Image[i].url %> "><i class="mdi mdi-magnify-plus"></i></a></li>
                                                    <% if(product.Image.length > 0) { %>
                                                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= product.Image[i].filename %>">
                                                    <% } %>
                                                    <a class="btn default btn-outline el-link" href="javascript:void(0);"></a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }} %>
                        <div class="mb-3">
                            <button class="btn btn-success">Ενημέρωση</button>
                        </div>
            </form>
        </section>
        <!--  -->
    </div>
</div>

<!-- Modal Start -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Επιβεβαίωση διαγραφής</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Άκυρο</button>
                <form action="<%=product._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Διαγραφή</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<script>
    input.addEventListener("input", function() {
        input.value = input.value.replace(/,/g, ".");
    });
</script>

<script src='/dist/js/validation.js'></script>
<script src='/dist/js/validateForms.js'></script>
<%- include('../partials/dashboard/footer') %>