<%- include('../partials/dashboard/header') %> 
<%- include('../partials/flash') %>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Πίνακας Προϊόντων Εστιατορίου</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Ονομασία</th>
                        <th>Κατηγορία</th>
                        <th>Τιμή</th>
                        <th>Περιγραφή</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (product of products) { %>
                    <tr class="trow" onclick="location.href='/products/<%=product._id%>'" style="cursor:pointer">
                        <a href="/products/<%=product._id%>">
                            <div>
                                <td style="width: 30%;"><%=product.name%></a></td>
                                <td style="width: 20%;"><%=product.category%></td>
                                <td style="width: 20%;"><%=product.price%>€</td>
                                <td style="width: 30%;" ><%=product.description%></td>
                            </div>
                         </a>
                    </tr>
                    <%}%>
                </tfoot>
            </table>
        </div>

    </div>
</div>

<tr >


<%- include('../partials/dashboard/footer') %> 
